<!-- sidebar.html -->

<div class="sidebar">

	<header class="sidebar-header">
		<a href="{{ site.BASE_PATH }}/">
			<img src="{{ site.BASE_PATH }}/assets/img/DP.jpg" id="profile-image"/>
		</a>

		<h3 class="sidebar-title">
	        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
	    </h3>

	    {% if site.author.bio %}
		<div class="sidebar-bio">
			{{ site.author.bio }}
		</div>
		{% endif %}

		<div class="line-sep"></div>

		<div class="sidebar-nav">
			<a href="{{ site.BASE_PATH }}/about/">ABOUT</a>
			<br>
			<a href="{{ site.BASE_PATH }}/projects/">PROJECTS</a>
			<br>
			<a href="{{ site.BASE_PATH }}/publications/">PUBLICATIONS</a>
			<br>
			<a href="{{ site.BASE_PATH }}/resources/">RESOURCES</a>
			<br>
			<a href="{{ site.BASE_PATH }}/downloads/">DOWNLOADS</a>
		</div>

		<div class="line-sep"></div>
	</header>


	<body class="sidebar-footer">
		<div><br><br><br><br></div>
		<div class="contact-me-line">
			<span>contact me</span>
		</div>

		<ul class="list-unstyled list-inline">
			{% if site.author.email %}
			<li>
				<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
					<i class="fa fa-envelope fa-lg"></i>
				</a>
			</li>
			{% endif %}

			{% if site.author.github %}
			<li>
				<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
					<i class="fa fa-github fa-lg"></i>
				</a>
			</li>
			{% endif %}

			<br>

			{% if site.author.instagram %}
			<li>
				<a class="btn btn-default btn-sm" href="https://www.instagram.com/{{ site.author.instagram }}">
					<i class="fa fa-instagram fa-lg"></i>
				</a>
			</li>
			{% endif %}

			{% if site.author.linkedin %}
			<li>
				<a class="btn btn-default btn-sm" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
					<i class="fa fa-linkedin fa-lg"></i>
				</a>
			</li>
			{% endif %}
		</ul>

		<p class="sidebar-footer">
			&copy; {{ site.author.name }} {{ site.time | date: '%Y' }}.
		</p>
	</body>

</div>

<!-- sidebar.html end -->
