@import url(//fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body{
	color: #2c3e50;
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 3%;
	background-color: #eeeeee;
	color: #fff;
	width: 13%;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #000;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777; }

#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	margin: 0 auto;
	margin-bottom: 0px;
	color: #555555;
}

#copyright {
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	margin: 0 auto;
	margin-bottom: 0px;
	color: #555555;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

#contact-list {
	position: sticky;
	text-align: center;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1rem;
}

.contact-center {
	position: sticky;
	text-align: center;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1rem;
}

#contact-list li:hover .fa-envelope,
#contact-list li:hover .fa-github,
#contact-list li:hover .fa-instagram {
	color: #E93E30;
}

#contact-title {
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #333333;
}

h4 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h4 span { 
    background:#eeeeee; 
    padding:0 10px; 
}

.sidenav{
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #333333;
	flex: 1;
}

.sidenav a{
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #555555;
	flex: 1;
}

.sidenav a:hover {
  color: #E93E30;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

.page-header {
	color: #1bc0f7;
	text-shadow: 1px 1px 1px rgba(20, 190, 240, 0);
}

@media only screen and (max-width: 1080px){
    .sidebar {
	    position: relative;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	    width: 100%;
	    padding: 10px;
	    background-color: #ffffff;
	    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
            box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }
  #profile-image {
  	display: none;
  }
  #copyright {
  	position: bottom;
  }
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: 'Ubuntu', sans-serif;
	color: #;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #1bc0f7;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #888888;
}

.author .author-image {
  float: left;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}
