*{
	margin: 0;
	padding: 0;
	background: #eee;
}

.timeDisplayContainer{
	text-align: center;
	padding: 5%;
}

.timeDisplayContainer h3{
	padding-top: 5%; 
	text-transform: uppercase;
}

.timeDisplayContainer .greeting{

}

.catImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}