*{
	margin: 0;
	padding: 0;
	/*background: #ccc;*/
}

.timeDisplayContainer{
	text-align: center;
	background: #eee;
	padding: 5%;
}

.timeDisplayContainer h3{
	padding-top: 5%; 
	text-transform: uppercase;
}

.timeDisplayContainer .greeting{

}

.bottomStuff{
	background-image: url(../assets/img/cat.jpg);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 500px;
}